{% extends '_templates/main.twig' %}

{% block content %}
<div class="w-full h-full min-h-screen bg-blue-500 flex flex-wrap content-center justify-center">
	<div class="shadow-lg rounded-lg p-16 sm:p-64 bg-gray-50 text-gray-900 text-3xl font-bold">
		<div id="app" class="text-pink-400">Hello</div>
	</div>
</div>

{% endblock %}
